@page "/login"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using BlazorCurseach.Models
@using BlazorCurseach.Services
@inject ProtectedSessionStorage protectedSessionStorage
@inject AuthService authService
@inject HashService hashService
@inject NavigationService navigationService
@inject LinqService linqService

<div class="autorize-model">

    <h2 class="authorize-title">Login</h2>

    <EditForm Model="@client" OnValidSubmit="HandleClientData" FormName="AuthorizeForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText @bind-Value="client.login" class="form-control" placeholder="Name" />
        <ValidationMessage For="@(() => client.login)" />
        
        <InputText @bind-Value="client.password" type="password" class="form-control" placeholder="Password" />
        <ValidationMessage For="@(() => client.password)" />

        <button class="btn btn-primary" type="submit" disabled="@isLoading" @onclick="() => EraseMessage()">
        @if(isLoading)
            { <span>Entering...</span> }
        else
            { <span>Login</span> }
        </button>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" id="auth-error">@errorMessage</div>
        }
    </EditForm>
</div>

@code {
    protected Client client { get; set; } = new();

    protected bool isValid = false;
    protected bool isLoading = false;
    protected string errorMessage = "";

    protected async Task HandleClientData()
    {
        isLoading = true;

        string hashPassword = hashService.CalculateHashData(client.password);
        client.password = hashPassword;

        List<Client> clientData = linqService.FindClient(client);

        isValid = await authService.CheckValidClientAsync(clientData);
        isLoading = false;

        if(isValid)
        {
            await authService.SendDataAsync(client);
            errorMessage = $"Welcome {client.login}!";
            client = new();
            navigationService.SuccessAuth();
        }
        else
        {
            client = new();
            errorMessage = "Wrong login or password!";
        }
    }

    protected void EraseMessage()
    {
        errorMessage = "";
    }
}