@page "/login"
@using BlazorCurseach.Models
@using BlazorCurseach.Services
@inject AuthService authService
@inject HashService hashService
@inject NavigationService navigationService
@inject LinqService linqService

<div class="autorize-model">

    <h2 class="authorize-title">Login</h2>

    <EditForm Model="@guest" OnValidSubmit="HandleClientData" FormName="AuthorizeForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText @bind-Value="guest.login" class="form-control" placeholder="Login" />
        <ValidationMessage For="@(() => guest.login)" />
        
        <InputText @bind-Value="guest.password" type="password" class="form-control" placeholder="Password" />
        <ValidationMessage For="@(() => guest.password)" />

        <button class="btn btn-primary" type="submit" disabled="@isLoading" @onclick="() => EraseMessage()">
        @if(isLoading)
            { <span>Entering...</span> }
        else
            { <span>Login</span> }
        </button>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" id="auth-error">@errorMessage</div>
        }
    </EditForm>
</div>

@code {
    protected Guest guest {get; set;} = new();
    protected Client client {get; set;} = new();

    protected bool isValid = false;
    protected bool isLoading = false;
    protected string errorMessage = "";

    protected async Task HandleClientData()
    {
        isLoading = true;

        string hashPassword = hashService.CalculateHashData(guest.password);
        guest.password = hashPassword;

        Client newClient = authService.MakeClient(guest, client);

        var clientData = await linqService.FindClient(newClient);
        clientData.Add(newClient);
        
        isValid = await authService.CheckValidClientAsync(clientData);
        isLoading = false;

        if(isValid)
        {
            await authService.SendDataAsync(newClient);
            errorMessage = $"Welcome {newClient.login}!";
            newClient = new();
            navigationService.ToHome();
        }
        else
        {
            newClient = new();
            errorMessage = "Wrong login or password!";
        }
    }

    protected void EraseMessage()
    {
        errorMessage = "";
    }
}