@page "/join"
@using System.ComponentModel.DataAnnotations
@using Microsoft.EntityFrameworkCore;
@using BlazorCurseach.Models
@using BlazorCurseach.Services
@inject LinqService linqService
@inject AuthService authService
@inject HashService hashService
@inject NavigationService navigationService

<EditForm Model="@client" OnValidSubmit="HandleClientData">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="registration-model">
        <h2>Welcome!</h2>

        <InputText @bind-Value="client.firstName" class="form-control" placeholder="Name" />
        <ValidationMessage For="@(() => client.firstName)" />

        <InputText @bind-Value="client.lastName" class="form-control" placeholder="Last Name" />
        <ValidationMessage For="@(() => client.lastName)" />

        <InputText @bind-Value="client.fatherName" class="form-control" placeholder="Father Name" />
        <ValidationMessage For="@(() => client.fatherName)" />

        <InputText @bind-Value="client.phone" class="form-control" placeholder="Phone" />
        <ValidationMessage For="@(() => client.phone)" />

        <InputText @bind-Value="client.email" class="form-control" placeholder="Email" />
        <ValidationMessage For="@(() => client.email)" />

        <InputText @bind-Value="client.login" class="form-control" placeholder="Login" />
        <ValidationMessage For="@(() => client.login)" />

        <InputText @bind-Value="client.password" type="password" class="form-control" placeholder="Password" />
        <ValidationMessage For="@(() => client.password)" />

        <button class="btn btn-primary" type="submit" disabled="@isLoading">
        @if(isLoading)
            { <span>Entering...</span> }
        else
            { <span>Create account</span> }
        </button>
    </div>
        @if (!string.IsNullOrEmpty(successMessage) && successStatus)
        {
            <div class="alert alert-success">@successMessage</div>
        }
        else if (!string.IsNullOrEmpty(errorMessage) && errorStatus)
        {
            <div class="alert alert-danger">@errorMessage</div>
        }
</EditForm>

@code {
    protected Client client { get; set; } = new();
    protected int defaultRole = 1;
    protected bool isLoading, errorStatus, successStatus = false;
    protected string successMessage, errorMessage = "";

    private async Task HandleClientData()
    {
        isLoading = true;

        string hashPassword = hashService.CalculateHashData(client.password);
        client.password = hashPassword;

        if(successStatus)
            successMessage = $"Welcome {client.login}!";
        try
        {
            successStatus = true;
            await linqService.InsertClient(client);
            await authService.SendDataAsync(client);
            client = new();
            navigationService.ToHome();
            isLoading = false;
        }
        catch (DbUpdateException)
        {
            client = new();
            errorMessage = "Login already taken.";
            errorStatus = true;
            isLoading = false;
        }
    }
}